.page {
  min-height: 100vh;
  background-color: #f9fafc;

  .bg-top {
    position: relative;
    height: 480rpx;
    background-color: #ff0000;

    .head-bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    .icon-back {
      position: absolute;
      left: 20rpx;
      width: 50rpx;
      height: 50rpx;
      color: #fff;
      z-index: 1;
    }

    .logo {
      top: 40rpx;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #fff
    }
  }

  .menu-items {
    position: relative;

    margin: -300rpx 0 0;
    border-radius: 32rpx 32rpx 0 0;
    background-color: #fff;
    padding: 32rpx;

    .title-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 16rpx;

      .title {
        color: #000;
        font-size: 36rpx;
        font-weight: bold;
      }
    }

    .panel {
      padding: 30rpx 0;

      .count-content {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 80rpx;
        border-radius: 40rpx;
        background-color: #FF4D4B;

        .man-count {
          position: absolute;
          inset: 0;
          width: 50%;
          background-color: #4C97FE;

          &:after {
            content: '';
            position: absolute;
            right: -40rpx;
            top: -50px;
            width: 200rpx;
            height: 200rpx;
            background-color: #4C97FE;
            transform: rotate(30deg);
          }
        }

        .count-text {
          position: absolute;
          left: 32rpx;
          top: 20rpx;
          color: #fff;
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          font-size: 28rpx;

          .percent {
            margin-left: 10rpx;
            color: #FFFFFFA8;
            font-size: 24rpx;
          }

          &.right {
            left: unset;
            right: 32rpx;
          }
        }
      }

      .tip-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20rpx 32rpx;
      }

      .tab-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tab-item {
          position: relative;
          width: 216rpx;
          height: 94rpx;
          display: flex;
          justify-content: center;
          align-items: center;

          .tab {
            position: absolute;
            left: 0;
            right: 0;
            width: 216rpx;
            height: 94rpx;
          }

          .tab-text {
            z-index: 1;
            font-size: 28rpx;
            padding-bottom: 20rpx;

            &.active {
              color: #fff;
            }
          }
        }
      }

    }

    .charts-user {
      margin: 20rpx 0;
      width: 100%;
      height: 532rpx;
      border-radius: 16rpx;
      background: linear-gradient(180deg, #FFE8E8 0%, rgba(255, 247, 247, 0.35) 100%);

      .charts {
        width: 100%;
        height: 532rpx;
      }
    }
  }
}